/*  
	version:	1.0
	author:		ANDER
	date:		20150518
	
*/

/****************** 
	RESET
	Resetear todos los estilos para cualquier navegador.
******************/
@import url("reset.css");
@import url("media.css");


/*login*/
.containerr { margin: 25px auto; position: relative; width: 900px; }
#contentt {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-ms-box-shadow: 0 1px 0 #fff inset;
	-o-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #c4c6ca;
	margin: 0 auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 400px;
}
#contentt h1 {
	color: #7E7E7E;
	font: bold 25px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 10px 0 30px;
}
#contentt h1:before,
#contentt h1:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}
#contentt h1:after {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#contentt h1:before {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#contentt:after,
#contentt:before {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	border: 1px solid #c4c6ca;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%;
}
#contentt:after {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	top: 0;
	z-index: -1;
}
#contentt:before {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	top: 0;
	z-index: -2;
}
#contentt form { margin: 0 20px; position: relative }
#contentt form input[type="text"],
#contentt form input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 15px 10px 15px 40px;
	width: 80%;
}
#contentt form input[type="text"]:focus,
#contentt form input[type="password"]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
#contentt form input[type="submit"] {
	background: rgb(254,231,154);
	background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 0 35px 15px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;
}
#contentt form input[type="submit"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}
#contentt form div a {
	color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
.button {
	background: rgb(247,249,250);
	background: -moz-linear-gradient(top,  rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #CFD5D9;
	padding: 15px 0;
}
.button a {
	background: url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
	color: #7E7E7E;
	font-size: 17px;
	padding: 2px 0 2px 40px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.button a:hover {
	background-position: 0 -135px;
	color: #00aeef;
}



/******************
FONTS
**********************/

@font-face {
	font-family: kikelet;
	src: url("../fonts/kikelet/Kikelet.ttf") format('truetype');
}


/******************
		CLEARFIX
******************/
	.clearfix:before, .clearfix:after { content: ""; display: table; }
	.clearfix:after { clear: both; }
	.clearfix { *zoom: 1; }

/*	
	ETIQUETAS 
	Dar un estilo general o base a toda la web.
	
*/
#container{
	max-width: 960px; /* recomendable 960px */
	
	margin: 0 auto;
	padding: 0 20px;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	font-family: arial;
	background-color: white;
}
h1 {
  color: red;
  margin-bottom: 30px;
  font-family: arial;
  font-size: 70px;
  text-align: center;
  font-weight: 50px;
  
 
}



h2{
	margin-top: 30px;
	clear: both;
}

strong{
	font-weight: bold;
}

p {
	margin-top: 10px;
	font-family: arial;
	font-size: 16px;
	text-align: justify;
	line-height: 20px;
	margin-bottom: 10px;
}

ul, ol{
	list-style-type: disc;   
}
ul h2, ol h2{
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
}
ul ul, ol ol{
	margin-left: 25px;
	list-style-type: circle;   
}
li{
	margin-bottom: 8px;
}

body {
	/*background-image: url(http://static3.depositphotos.com/1000451/115/i/950/depositphotos_1153879-35mm-empty-film.jpg);*/
	margin-top: 0;
	background-image: url('../img/back.jpg');
}

header, nav, section, aside, footer{
	background-color: white;
}



a{
	text-decoration: none;  
}
a:hover{
	color: orange;
}

/* Recomendable para un CSS de impresion 
	
	a:after { content: "->" attr(href) "--||"; }
*/

form input[type="text"]:required:valid{
	border: 2px solid green;
}
form input[type="text"]:focus:required:invalid{
	border: 2px solid red; 
}

figcaption{
	clear: both;	
}

mark {
	background-color:  #CCFF00;
}

canvas{
	border: 1px solid black;
}

article{
	border: 1px solid #013729;
	padding: 20px;
	margin-bottom: 25px;
}
article h2{
	color: #C10D57;
	background-color: #88ABCB;
	font-size: 25px;
	padding: 5px 0;
}

/*******************************************************
	ESTILOS REUTILIZABLES
	Regla con selector por CLASS para usar en todas las paginas.
***************************************************/


.btn_volver{
	background-color: #DDD;
}



.encabezado{
	margin-left: 120px;
    margin-right: 120px;
	margin-bottom: 50px;
	text-align: center;
	border: 1px dotted green;
}

.rosa {
	color: pink;
}
.azul {
	color: blue;
}

.cartel{
	float: left;
	margin-right: 30px;
	width: 250px;
	height: auto;
}

.ficha{
	float: left;
	width: 580px;
	min-height: 360px;
	margin-bottom: 20px;
	background-color: white;
}

.ficha p{
	font-size: 35px;
	line-height: 45px;
}

.ficha span{
	font-size: 25px;
	line-height: 30px;
	color: orange;
	font-weight: bold;
}

.ficha .destacado{
	color: green;
	font-weight: 600;
}

.sinopsis{
	float: left;
	height: 150px;
	overflow: scroll;
	background-color: white;
	margin-bottom: 30px;
}

.negro{
	background: white;
	color: #0099ff;
}

.verde{
	background: green;
	color: white;
}

.cnt_article h3{
	color: #C10D57;
	text-decoration: underline;
}


/**************************************************************
	PAGINAS
	Una sección por cada pagina de nuestra web.
**************************************************************/


/*****************
		HEAD
******************/
header { width: 100%;}
#head, nav{
	position: fixed;
	left: auto;
	background-color:transparent;
	z-index: 100;
}
#head{
	width: 100%;
	top: 0px;
}
#head h1{
	 text-shadow: 0 0 4px #241318, 0 -5px 4px #E39A4B, 2px -10px 6px #EB421E, -2px -15px 11px #f80, 2px -18px 18px #EAF2F3;
  
  -webkit-text-fill-color: blue;
  -webkit-text-stroke-color: inherit;
  -webkit-text-stroke-width: 2px;
  -webkit-box-reflect: below 10px;
  
  -webkit-animation-name: Ejemplos HTML5, CSS3 y JavaScript;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  
  	font-family: kikelet;
	
	
}



nav{
	top: 18px;
	border-radius:20px;
}

#content {
	
	padding-bottom: 1px;
}

#logo img{
	width: 50px;
  height: 50px;
  float: left;
}



/*********************
	MENU PRINCIPAL/NAVEGACION
**********************/
nav * {
	padding: 0px;
	margin: 0px;
	border-radius: 308px;
	box-shadow:
 
	
}
nav {
	width: 100%;
	max-width:960px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	
}
nav ul, nav ol {
	list-style: none;
	
}
nav ul ul {
	margin: 0px;
	
}
nav h2, nav h3 {
	margin: 0px;
}
.menu {
	  border-radius: 308px;
}
.menu li a, .menu li h2, .menu li h3 {
	background-color: black;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px 15px;
	display: block;
}
.menu li h2:hover, .menu li h3:hover, .menu li a:hover {
	background-color: #434343;
}
.menu > li {
	float: left;

}
.menu li ul {
	display: none;
	position: absolute;
	min-width: 175px;
}
.menu li:hover > ul{
	display: block;
}
.menu li ul li{
	position: relative;
	
}
.menu li ul li ul{
	right: -175px;
	top: 0px;
}


/*********************
		FOOTER
**********************/
.copy, #list_paginas {
	float: left;
}
#list_paginas li {
	float: left;	
	text-decoration: none;
}
#list_paginas {
	list-style: none;
	margin: 0px;
	padding-right: 40px;
}

#foot{
	display: block;
	margin: 0 auto;
	width: 100%;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}
#list_paginas li a, .copy{
	background-color: white;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 10px 10px;
	display: block;
}
		
#list_rrss li {
	float: left;
	list-style: none outside none;
	border: none;
}
	
#list_rrss li a {
	background-color: white;
	background-image: url("../img/social_icons.png");
	background-repeat: no-repeat;
	background-size: auto 96px;
	border: 0 none;
	color: white;
	direction: ltr;
	display: block;
	height: 49px;
	width: 49px;
	overflow: hidden;
	text-align: left;
	text-decoration: none;
	text-indent: -999em;
	transition: all 0.2s ease 0s;
}
		
#list_rrss li.facebook a {
	background-position: 0 -49px;
}
#list_rrss li.facebook a:hover {
	background-position: 0 0;
}

#list_rrss li.twitter a {
	background-position: -49px -49px;
}
#list_rrss li.twitter a:hover {
	background-position: -49px 0;
}
	
#list_rrss li.youtube a {
	background-position: -98px -49px;
}
#list_rrss li.youtube a:hover {
	background-position: -98px -0;
}

#list_rrss li.instagram a {
	background-position: -145px -49px;
}
#list_rrss li.instagram a:hover {
	background-position: -145px 0;
}


/*********************
		HOME
**********************/

/*	Posicionamiento	*/
#leer, #barra_lateral {
	float: left;
}
#leer {
	width: 100%;
	margin-right: 5%;
}
#barra_lateral {
	width: 100%;
	padding: 2%
}

/*	Estilo aside	*/
#barra_lateral h3 {
	color: #228fb8;
	font-size: 20px;
	border-bottom: medium;
}
#barra_lateral ul{
	list-style: none;
	margin-left: -20px;
}

/*	Estilo section	*/
#leer h2 {
	color: #228fb8;
	font-size: 30px;
}
table.tabla_azul, .tabla_azul tr, .tabla_azul td {
    margin: 0 auto;
	border: 1px solid grey;
	font-size: 30px;
	text-align: center;
	color: #0099ff;
	font-family: arial;
}
.tabla_azul th, .tabla_azul td {
    height:50px;
	padding: 10px;
}
.tabla_azul th {
	color: grey;
}
.numero{
	font-size: 80px;
	color: #0099CC;
	font-family: arial;
	text-align: center;
	line-height: 80px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


/*********************
		CARTELERA
**********************/	
#cartelera ul {
	list-style: none;   
}
#cartelera li {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;  
}
#cartelera li:nth-child(3n){
	margin-right: 0px;
}

.pelicula{
	position: relative;
}
.imagen{
	width: 250px;
	height: 350px;
}
.titulo {
	position: absolute;
	bottom: 0px;	
	width: 240px; 
	background-color: rgba(255,255,255,0.8);
	margin: 0px;
	padding: 0px 5px;
	min-height: 100px;
	display: none;
}
.titulo h3 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	color: green;
	font-weight: bolder;
}
.titulo p {
	font-size: 12px;
	text-transform: capitalize;
	text-align: left;
	color: green;
}
#cartelera .pelicula:hover .titulo {
	display: block;
}
.titulo > span{
	text-transform: lowercase;
}



/***********************
 CARTELERA DETALLE 
 **********************/
#cartelera_detalle  h1{
	color: blue;
	text-align: left;
}

/***********************
 TABLA_AVANZADA 
**********************************/
#tabla_avanzada h1{
	font-style: italic;
	color: blue;
	text-align: left;
}

#tabla_avanzada table{
    border: 1px solid black;
	text-align: left;
}
#tabla_avanzada .cursiva {
	font-size: 13px;
	font-style: italic;
}
#tabla_avanzada .centrado {
	text-align: center;
}
#tabla_avanzada .derecha {
	text-align: right;
	font-weight: bold;	
}
#tabla_avanzada .izquierda {
	text-align: left;	
}

/**************
 FOMULARIO 
 *******************/

#formulario {
	border: 3px solid #80ab54;
	margin: 50px 100px;
	padding: 0 50px;
}

#formulario input {
	padding: 5px 10px;
  	margin: 5px 25px 10px;
}

#formulario h2 {
	font-size: 40px;
	color: #80ab54;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 5px;
}
#formulario label {
	font-size: 20px;
}

#formulario fieldset {
	border: 2px groove #80ab54;
	margin-right: 25px;
	margin-bottom: 20px;
}
#formulario legend {
	font-weight: bold;	
	font-size: 30px;
	color: #80ab54;
}





/******************** Reglas con selectores por ID */

#dado{
	width: 100px;
	height: 100px;
}



#traductor{
	float:left;
	
}

/*********************
CALCULADORA
**********************/
imagenbotom{
	  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  font-family: arial;
  width: 40px;
  height: 40px;
	
}
